%form{:action => "", :method => "post"}
  %fieldset
    - sources.each do |source_name, example|
      %fieldset
        %h2= "Input for port #{source_name}"
        %textarea{:name => "#{source_name}", :rows => "10", :cols => "80"}
          = "#{example}"
    %input{:type => "submit", :value => "Run", :class => "button"}
