.breadcrumb
  %a{:href => "/"}
    = "Home"
  = '&raquo;'
  %a{:href => "/runs"}
    = "Runs"
  = '&raquo;'
  = "#{run.identifier}"

%h1='Run Information'

%table.bordered_table{:"title" => "Run"}
  %tr
    %th= "Identification"
    %th= "Status"
    %th= "Creation time"
    %th= "Finish time"
    %th= "Results"
    %th= "Action"
  %tr
    %td= "#{workflow_name}"
    %td{:class => "#{run.status.to_s}"}= "#{run.status.to_s.capitalize}"
    %td= "#{run.create_time.utc}"
    %td
      - if (run.finished?) then
        #{run.finish_time.utc}
      - else
        = "n/a"
    %td.results
      - if (run.finished?) then
        %a{:href =>"/run/#{run.identifier}/resultset", :title => "Click here to view the results of the run"}Results
      - else
        %img{:src => "/images/spinner.gif", :alt => "Waiting..."}
    %td
      - if (run.finished?) then
        %form{:method => "link", :action => "/run/#{run.identifier}/delete"}
          %input{:type => "submit", :value=>"Delete", :class => "button"}
      - else
        %form{:method => "link", :action => "/run/#{run.identifier}/delete"}
          %input{:type => "submit", :value=>"Cancel", :class => "button"}

- unless interaction_uri.nil?
  %iframe{ :width => "100%", :height => "800", :scrolling => "auto", :src => "#{interaction_uri}" }
- else
  - if (!run.finished?) then
    = 'Please wait...'
