%table.bordered_table{:"title" => "Run"}
  %tr
    %th= "Identification"
    %th= "Status"
    %th= "Creation time"
    %th= "Finish time"
    %th= "Results"
    %th= "Action"
  %tr
    %td= "#{run.identifier}"
    %td= "#{run.status}"
    %td= "#{run.create_time.utc}"
    %td
      - if (run.finished?) then
        #{run.finish_time.utc}
      - else
        = ""
    %td
      - if (run.finished?) then
        %a{:href =>"/run/#{run.identifier}/resultset"}Results
      - else
        = ""
    %td
      - if (run.finished?) then
        %form{:method => "link", :action => "/run/#{run.identifier}/delete"}
          %input{:type => "submit", :value=>"Delete", :class => "button"}
      - else
        %form{:method => "link", :action => "/run/#{run.identifier}/delete"}
          %input{:type => "submit", :value=>"Cancel", :class => "button"}
