.breadcrumb
  %a{:href => "/"}
    = "Home"
  = '&raquo;'
  = "Workflows"

%h1= 'Workflows'
- if (!$allow_upload) then
  %p
    These workflows show how biodiversity-related workflows can be run on a Taverna Server.
%ul
  - workflow_array = workflow_map.sort
  - workflow_array.each do |a|
    - k = a[0]
    - v = a[1]
    %li
      %a{:href => "/workflow/#{v}"}
        = k
- if ($allow_uploads) then
  %p
    Upload a workflow
  %form{:action => "", :enctype => "multipart/form-data", :method => "post"}
    %fieldset
      %input{:type => "file", :name => "workflow", :size => 40}
    %fieldset
      %input{:type => "submit", :value => "Upload", :class => "button"}